<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
      <ion-title>Buscar Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  
  <ion-item>
    <ion-label position="floating">Lugar de Destino</ion-label>
    <ion-input placeholder="Destino"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Hora de Salida</ion-label>
    <ion-input placeholder="Salida"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Número de Celular</ion-label>
    <ion-input placeholder="Contacto" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-button expand="block" (click)="verDatos()">Buscar Viaje</ion-button>
  </ion-item>
</ion-content>
