<app-menu></app-menu>
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Crea tu viaje</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Lugar de Destino</ion-label>
    <ion-input placeholder="Destino"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Hora de Salida</ion-label>
    <ion-input placeholder="Salida"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Número de Celular</ion-label>
    <ion-input placeholder="Contacto" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-button expand="block" (click)="presentToast('bottom')">Buscar Viaje</ion-button>
  </ion-item>
</ion-content>
